# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Local sensitive data
data/mysql/*
data/host_data/*
data/host_data.zip
mysql.env
my.cnf

# Temp files
temp_lock_dir/
.DS_Store
